*.pyc
*.so
*.egg-info
*.whl
/dist/
.ipynb_checkpoints
.DS_Store
.mypy_cache/
.pytype/
.idea
.vscode
.envrc

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/

# Documentation
/docs/_build/
/docs/_collections/
/docs/sg_execution_times.rst
/docs/generated
build/*
**/__pycache__/
**/.cache_pret_localshards/
**/.cache_localshards/
**/.cache_f2llm/
**/.cache_f2llm_v2/
**/.cache_f2llm_v3/
**/.cache_f2llm_v4/
**/.cache_f2llm_v4_1024/
**/.cache_ft_localshards/
**/wandb/
**/tensorboard/
**/run_scripts/
**/plots/
**/results/
**/ckpts/
**/tensorboard_profiling/
**/msmarco-data/
*.ipynb